.sticky_logo img {
    max-width: 200px !important;
}

.form-labe {
    float: left !important;
    margin: 0 50px 0 -50px !important;
    color: #161341 !important;
    font-size: 14px !important;
}
.sec_pad {
    padding: 0 !important;
}

.blog_content p {
    color: black !important;
}

.bordered_box {
    border: 1px solid #c2c2c2;
}

.text-red {
    color: red;
}
.swal2-confirm{
    background-color: #161341 !important;
    border-left-color : #161341 !important;
    border-right-color : #161341 !important;
}

.swal2-popup .swal2-title {
    margin: 0 !important;
    font-size: 25px !important;
    font-weight: 200 !important;
}

.header_area {
    z-index: 999999 !important;
}
